/* reset */

body, html, img, button,
input, h1, h2, h3, span,
small, strong, div, figure,
section, a, nav {
  padding: 0;
  margin: 0;
  border: 0;

  text-decoration: none;

  font: inherit;
  box-sizing: inherit;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 42px;
  display: block;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

body {
  background: #66CCFF;
  font-family: sans-serif;
}

/* clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

nav {
  width: 900px;
  height: auto;
}

nav > a {
  display: block;
  float: right;
  padding: 5px;
}

nav > a:hover,
.title:hover {
  color: #fff;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.ubermicro {
  display: block;
  width: 500px;
  height: 342px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid #fff;
  overflow: hidden;
}

.snake {
  display: block;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid #fff;
  overflow: hidden;
}

.chess {
  display: block;
  width: 500px;
  height: 363px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid #fff;
  overflow: hidden;
}

.title, .name {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.name,
.title > h2 {
  text-align: center;
}
